Codes/CoAPflowsNode-red.json
[{"id":"3f308425.fb029c","type":"tab","label":"Coap ESP32","disabled":false,"info":""},{"id":"86bd60ae.240148","type":"coap request","z":"3f308425.fb029c","method":"GET","observe":true,"url":"coap://192.168.1.114/light/ON","content-format":"text/plain","raw-buffer":true,"name":"clientON","x":400,"y":180,"wires":[[]]},{"id":"8aaaec5e.6a4178","type":"ui_button","z":"3f308425.fb029c","name":"ON","group":"40197f.39273e8","order":1,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"ON","x":190,"y":180,"wires":[["86bd60ae.240148"]]},{"id":"40cd82ca.6b5adc","type":"coap request","z":"3f308425.fb029c","method":"POST","observe":false,"url":"coap://192.168.1.114/light/OFF","content-format":"text/plain","raw-buffer":false,"name":"clientOFF","x":400,"y":240,"wires":[[]]},{"id":"9e113d48.09b8f","type":"ui_button","z":"3f308425.fb029c","name":"OFF","group":"40197f.39273e8","order":1,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"OFF","x":190,"y":240,"wires":[["40cd82ca.6b5adc"]]},{"id":"62157a2.3374484","type":"coap in","z":"3f308425.fb029c","method":"PUT","name":"temperatureRoom","server":"1f243a72.bba6b6","url":"/temp","x":90,"y":340,"wires":[["72558792.4bcf38"]]},{"id":"72558792.4bcf38","type":"function","z":"3f308425.fb029c","name":"response","func":" msg.payload = parseFloat(msg.req.payload);\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":340,"wires":[["1298722e.16a166"]]},{"id":"1298722e.16a166","type":"ui_gauge","z":"3f308425.fb029c","name":"","group":"b10fd8d.335da28","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-30","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":340,"wires":[]},{"id":"8e6c28f5.e98498","type":"ui_chart","z":"3f308425.fb029c","name":"Humidity","group":"77768401.6982ac","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":400,"wires":[[]]},{"id":"5b4c4c41.49f7cc","type":"function","z":"3f308425.fb029c","name":"response","func":" msg.payload = parseFloat(msg.req.payload);\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":400,"wires":[["8e6c28f5.e98498"]]},{"id":"9b1e9e2.ff57f6","type":"coap in","z":"3f308425.fb029c","method":"PUT","name":"humidityRoom","server":"1f243a72.bba6b6","url":"/hum","x":100,"y":400,"wires":[["5b4c4c41.49f7cc"]]},{"id":"40197f.39273e8","type":"ui_group","name":"light","tab":"2229d936.3fec5e","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f243a72.bba6b6","type":"coap-server","name":"IoT CoAP Server","port":"5680"},{"id":"b10fd8d.335da28","type":"ui_group","name":"temp","tab":"2229d936.3fec5e","order":2,"disp":true,"width":"6","collapse":false},{"id":"77768401.6982ac","type":"ui_group","name":"hum","tab":"2229d936.3fec5e","order":3,"disp":true,"width":"6","collapse":false},{"id":"2229d936.3fec5e","type":"ui_tab","name":"Room","icon":"dashboard","order":1,"disabled":false,"hidden":false}]